In [2]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

In [3]:
path_to_db = '/datasets/telecomm_csi.db'
engine = create_engine(f'sqlite:///{path_to_db}', echo = False)

In [4]:
query = """
select user_id, lt_day,
    case when lt_day <= 365 then 'новый'
        else 'старый' end as is_new, 
age, 
case when gender_segment = 1 then 'женщина'
     when gender_segment = 0 then 'мужчина' end as gender_segment,
os_name, cpe_type_name, country, city, title_age as age_segment, title_tr as traffic_segment, title_lt as lifetime_segment, 
nps_score, 
case when nps_score between 9 and 10 then 'сторонники'
     when nps_score between 7 and 8 then 'нейтралы'
     else 'критики' end as nps_group
FROM user as u


left join location as l on u.location_id = l.location_id
left join (select age_gr_id, bucket_min as bucket_min_age, bucket_max as bucket_max_age, title as title_age 
           from age_segment) as a on a.age_gr_id = u.age_gr_id
left join (select tr_gr_id, bucket_min as bucket_min_tr, bucket_max as bucket_max_tr, title as title_tr 
           from traffic_segment) as t on t.tr_gr_id = u.tr_gr_id
left join (select lt_gr_id, bucket_min as bucket_min_lt, bucket_max as bucket_max_lt, title as title_lt 
           from lifetime_segment) as l on l.lt_gr_id = u.lt_gr_id
"""

In [7]:
df = pd.read_sql(query, engine)
for col in ['age_segment', 'traffic_segment', 'lifetime_segment']:
    df[col] = df[col].str[3:]
df.head(10)

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,старый,45.0,женщина,ANDROID,SMARTPHONE,Россия,Уфа,45-54,1-5,36+,10,сторонники
1,A001WF,2344,старый,53.0,мужчина,ANDROID,SMARTPHONE,Россия,Киров,45-54,1-5,36+,10,сторонники
2,A003Q7,467,старый,57.0,мужчина,ANDROID,SMARTPHONE,Россия,Москва,55-64,20-25,13-24,10,сторонники
3,A004TB,4190,старый,44.0,женщина,IOS,SMARTPHONE,Россия,РостовнаДону,35-44,0.1-1,36+,10,сторонники
4,A004XT,1163,старый,24.0,мужчина,ANDROID,SMARTPHONE,Россия,Рязань,16-24,5-10,36+,10,сторонники
5,A005O0,5501,старый,42.0,женщина,ANDROID,SMARTPHONE,Россия,Омск,35-44,5-10,36+,6,критики
6,A0061R,1236,старый,45.0,мужчина,ANDROID,SMARTPHONE,Россия,Уфа,45-54,10-15,36+,10,сторонники
7,A009KS,313,новый,35.0,мужчина,ANDROID,SMARTPHONE,Россия,Москва,35-44,45-50,7-12,10,сторонники
8,A00AES,3238,старый,36.0,женщина,ANDROID,SMARTPHONE,Россия,СанктПетербург,35-44,1-5,36+,10,сторонники
9,A00F70,4479,старый,54.0,женщина,ANDROID,SMARTPHONE,Россия,Волгоград,45-54,15-20,36+,9,сторонники

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502493 entries, 0 to 502492
Data columns (total 22 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         502493 non-null  object
 1   lt_day          502493 non-null  int64
 2   age             501939 non-null  float64
 3   gender_segment  501192 non-null  float64
 4   os_name         502493 non-null  object
 5   cpe_type_name   502493 non-null  object
 6   nps_score       502493 non-null  int64
 7   location_id     502493 non-null  int64
 8   city            502493 non-null  object
 9   country         502493 non-null  object
 10  age_gr_id       502493 non-null  int64
 11  bucket_min_age  501254 non-null  float64
 12  bucket_max_age  488703 non-null  float64
 13  title_age       502493 non-null  object
 14  tr_gr_id        502493 non-null  int64
 15  bucket_min_tr   502493 non-null  float64
 16  bucket_max_tr   491388 non-null  float64
 17  title_tr        502493 non-null  object
 18  lt_gr_id        502493 non-null  int64
 19  bucket_min_lt   502493 non-null  float64
 20  bucket_max_lt   228194 non-null  float64
 21  title_lt        502493 non-null  object
dtypes: float64(8), int64(6), object(8)
memory usage: 84.3+ MB

In [18]:
df.to_csv('telecomm_csi_tableau.csv', index=False)

### Ссылка на дашборд на сайте Tableau Public:

1. https://public.tableau.com/app/profile/vadim8842/viz/Praktikumprj2/sheet12?publish=yes
2. https://public.tableau.com/app/profile/vadim8842/viz/Praktikumprj2/-_1?publish=yes
3. https://public.tableau.com/app/profile/vadim8842/viz/Praktikumprj2/-_2?publish=yes